asgiref
crispy-bootstrap5
Django
django-crispy-forms
django-email
django-environ
MouseInfo
numpy
opencv-contrib-python
pillow
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
sqlparse
tzdata
